.DS_Store
**/.idea
.vscode
**/*.log

# Ansible Excludes
ansible/build
build/*
inventory-*
!inventory-*.tftpl
ansible/group_vars/extra.yml

**/.terraform
**/terraform.tfstate
**/terraform/tfstate.backup
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
*_plan
**/backend.tf

gke/cluster/*.tfvars
ds/**/*.tfvars
**/*.tfvars
files/
!ansible/roles/istio/files

.pytest_cache

ace-ripsaw-404021-8c020c0012b5.json